body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #0055a4;
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #ef4135;
    padding: 0.5rem;
}
nav a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}
main {
    padding: 2rem;
    text-align: center;
    background-color: white;
}
h1 {
    color: #0055a4;
}
p {
    color: #333;
    line-height: 1.6;
}
.highlight {
    color: #ef4135;
}
footer {
    background-color: #0055a4;
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    border: 3px solid #ef4135;
    border-radius: 10px;
    border-right: #0055a4;
}