{% extends "playground/base.html" %}

{% block title %}Profile{% endblock %}

{% block bar %}
    {% if user.is_authenticated %}
        <a href="{% url 'profile' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Profile</a>
        <a href="{% url 'sign_out' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign out</a>
    {% else %}
        <a href="{% url 'sign_up' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
        <a href="{% url 'sign_in' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-teal-700">Sign in</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto bg-white shadow-md rounded-lg overflow-hidden">
    <div class="px-6 py-4">
        <div class="flex items-center">
            {% if profile.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" />
        {% else %}
            <p>No profile picture available.</p>
        {% endif %}
            <div class="ml-6">
                <h2 class="text-2xl font-bold text-gray-800">{{ user.username }}</h2>
                <p class="text-gray-500">{{ user.email }}</p>
                {% comment %} <p class="text-gray-500">Member since: January 2023</p> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="border-t border-gray-200">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-6 py-4">
            <div>
                <h3 class="text-lg font-semibold text-gray-700 mb-2">Personal Information</h3>
                <p class="text-gray-600"><strong>First Name:</strong> {{ user.first_name }}</p>
                <p class="text-gray-600"><strong>Last name:</strong> {{ user.last_name }}</p>
            </div>
            <div>
                <h3 class="text-lg font-semibold text-gray-700 mb-2">Account Details</h3>
                <p class="text-gray-600"><strong>Items Listed:</strong> 12</p>
                <p class="text-gray-600"><strong>Items Sold:</strong> 5</p>
                <p class="text-gray-600"><strong>Favorite Categories:</strong> Electronics, Books</p>
                <p class="text-gray-600"><strong>Membership Level:</strong> Premium</p>
            </div>
        </div>
    </div>

    <!-- Profile Edit Form -->
    <div class="border-t border-gray-200 bg-gray-50 px-6 py-4">
        <h3 class="text-lg font-semibold text-gray-700 mb-2">Edit Profile</h3>
        <form method="POST" enctype="multipart/form-data" action="{% url 'profile' %}">
            {% csrf_token %}
            <div class="space-y-4">
                {{ form.as_p }}
            </div>
            <button type="submit" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                Submit
            </button>
        </form>
    </div>

</div>
{% endblock %}