body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #c60b1e;
    color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid yellow;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid yellow;
    border-right: 5px solid red;
}
h1 {
    color: #c60b1e;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
}
.highlight {
    color: #ffc400;
    font-weight: bold;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #c60b1e;
    color: white;
    width: 100%;
    bottom: 0;
    border-top: 5px solid yellow
}
img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}